* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header {
    width: 100%;
    height: 70px;
    display: block;
    background-color: #332e2e;
    margin: padding;
}

.inner-header {
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo-container {
    height: 100%;
    display: table;
    float: left;
}

.logo-container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: Arial;
    font-size: 32px;
    list-style: none;
    text-decoration: none;
}

.logo-container h1 a {
    color: white;
    cursor: pointer;
}

.logo-container h1 a:hover {
    color: gray;
}

.navigation {
    float: right;
    height: 100%;
    margin: 0;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 15px;
}

.navigation a:last-child {
    padding-right: 0;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Arial Black';
    font-size: 18px;
}

.fab {
    font-size: 25px;
}

.navigation a {
    cursor: pointer;
}

.navigation a li:hover {
    color: gray;
}

body,
html {
    height: 100%;
}

.text {
    color: black;
    font-family: 'Anton', sans-serif;
}

.title {
    background-color: #e2e1e1;
    text-align: center;
    width: 99vw;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 400;
}

.list {
    margin: 0px;
    padding-top: 20px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    justify-self: left;
    font-size: 23px;
}

.all {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 600px 400px;
    grid-template-rows: 1fr;
}

.slide {
    justify-self: left;
    height: 370px;
    width: 500px;
    padding-bottom: 0px;
    font-size: 25px;
}

.brasil {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 400px;
    height: 600px;
    background-color: #e2e1e1;
}

.item {
    height: 100%;
    width: 100%;
}

.slide p {
    text-align: justify;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
}

a:link,
a:visited {
    color: blue;
    text-decoration: none;
}

.sociais a:link,
a:visited {
    color: black;
}